.root:global(.__wab_instance) {
  position: relative;
}
.box___9YGXu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__z0FPh {
  display: flex;
  flex-direction: column;
}
.box__z0FPh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__z0FPh > :global(.__wab_flex-container) > *,
.box__z0FPh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.slotName {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.box__id7B {
  font-size: 48px;
}
.box__kqDD {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__kqDD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__kqDD > :global(.__wab_flex-container) > *,
.box__kqDD > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__rhkwe:global(.__wab_instance) {
  position: relative;
}
.bullet__pMsu:global(.__wab_instance) {
  position: relative;
}
.bullet___6FK0R:global(.__wab_instance) {
  position: relative;
}
.box___06Unz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
