.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__cO6Yr {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: comKisek3Ul0sY */;
}
.box___36D8Y {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box___36D8Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box___36D8Y > :global(.__wab_flex-container) > *,
.box___36D8Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___36D8Y {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___36D8Y > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___36D8Y > :global(.__wab_flex-container) > *,
  .box___36D8Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__onlL5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__onlL5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__onlL5 > :global(.__wab_flex-container) > *,
.box__onlL5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__ewlSu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___9MFm {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box__pNeHt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__pkvIf {
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__pkvIf:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box___1GtLy {
  position: relative;
}
.link__cHwm9 {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__cHwm9:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__nL4T {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__nL4T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__nL4T > :global(.__wab_flex-container) > *,
.box__nL4T > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nL4T {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nL4T > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nL4T > :global(.__wab_flex-container) > *,
  .box__nL4T > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box___089Ri {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box___089Ri > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box___089Ri > :global(.__wab_flex-container) > *,
.box___089Ri > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__fqZyt {
  position: relative;
  font-weight: 700;
}
.link__xA728 {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__xA728:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__wtal6 {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__wtal6:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__zEjk {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__zEjk:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__h136 {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__h136:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__aqyP6 {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__aqyP6:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__ek2Z3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__ek2Z3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__ek2Z3 > :global(.__wab_flex-container) > *,
.box__ek2Z3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__rog1E {
  position: relative;
  font-weight: 700;
}
.link__nltXv {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__nltXv:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__nyRJn {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__nyRJn:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__aeDq5 {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__aeDq5:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__hq9T8 {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__hq9T8:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___6CVy {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link___6CVy:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__tvNjq {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__tvNjq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__tvNjq > :global(.__wab_flex-container) > *,
.box__tvNjq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__alHgI {
  position: relative;
  font-weight: 700;
}
.link___1ZHnG {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link___1ZHnG:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___6OzwK {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link___6OzwK:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__g6KZz {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__g6KZz:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___3HFgs {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link___3HFgs:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__uyl0H {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__uyl0H:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__xYPz0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box__xYPz0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__xYPz0 > :global(.__wab_flex-container) > *,
.box__xYPz0 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__p6Z1M {
  position: relative;
  font-weight: 700;
}
.box__dJgC {
  position: relative;
}
.box__u3HWj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 0;
  border-width: 0px;
}
.button {
  position: relative;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.box__gUlw8 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: comKisek3Ul0sY */;
}
.box__kH5Pe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__kH5Pe {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__kH5Pe > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__kH5Pe > :global(.__wab_flex-container) > *,
  .box__kH5Pe > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__kz371 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__m1Byc {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
  height: auto;
}
.root .link__m1Byc:hover {
  text-decoration-line: underline;
}
.link__zD3Y {
  position: relative;
  color: #535353 /* plasmic-token: 2hRm99mHbl7U3X */;
}
.root .link__zD3Y:hover {
  text-decoration-line: underline;
}
.box__clm6Z {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
.box___5EtbR {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___5EtbR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box___5EtbR > :global(.__wab_flex-container) > *,
.box___5EtbR > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__xWbT:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1Z8J {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___1Z8J:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink___9RLrA:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__csWtQ {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__csWtQ:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__d4Ra1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__huGe {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__huGe:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
