.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__bA0Rl {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box__bA0Rl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__bA0Rl > :global(.__wab_flex-container) > *,
.box__bA0Rl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__vxGuz:global(.__wab_instance) {
  position: relative;
}
.box__yKsSs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__yKsSs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__yKsSs > :global(.__wab_flex-container) > *,
.box__yKsSs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__yKsSs {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__yKsSs > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__yKsSs > :global(.__wab_flex-container) > *,
  .box__yKsSs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.box___6Gbxd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.box___6Gbxd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box___6Gbxd > :global(.__wab_flex-container) > *,
.box___6Gbxd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___6Gbxd {
    width: 100%;
    min-width: 0;
  }
}
.box__tsJ1I {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.box__sk1A {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__xGso:global(.__wab_instance) {
  position: relative;
}
.svg___0SR {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__b9Ckd:global(.__wab_instance) {
  position: relative;
}
.svg__x80Ft {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__el7Jv:global(.__wab_instance) {
  position: relative;
}
.svg__tgPxl {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box___3TfDm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___3TfDm {
    width: 100%;
    min-width: 0;
  }
}
.img__hYx {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__yQl9 {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.box__zdXyz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.box__mUtRe {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  height: 50%;
  width: 100%;
  background: rgb(5, 5, 5);
}
.section___1ExEn:global(.__wab_instance) {
  position: relative;
}
.box__iSy1S {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__iSy1S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__iSy1S > :global(.__wab_flex-container) > *,
.box__iSy1S > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__jfKd2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___95Sx {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: oOVL14b9prHCea */;
}
.featureCard___6KD3A:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jdBdT {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: oOVL14b9prHCea */;
}
.featureCard__gp1NA:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jGGmX {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: oOVL14b9prHCea */;
}
.featureCard__aifQk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___8QQRz {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: oOVL14b9prHCea */;
}
.featureCard___8Vbt4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nHun0 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: oOVL14b9prHCea */;
}
.featureCard__xiIkL:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___4Err2 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: oOVL14b9prHCea */;
}
.box__p3M8S {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: comKisek3Ul0sY */;
}
.section__y5ZBv:global(.__wab_instance) {
  position: relative;
}
.box__ziIhb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__ziIhb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__ziIhb > :global(.__wab_flex-container) > *,
.box__ziIhb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__x6FjN {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__fdHMl {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__tpEfp {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__pja13 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__yozls {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
